.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  padding: 20px 12px;
  margin-bottom: 30px;
}

.title {
  font-size: 30px;
  margin-top: 12px;
  margin-bottom: 0;
}

.upperCase {
  text-transform: uppercase;
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  justify-content: space-between;
  margin-bottom: 16px;
  overflow-x: scroll;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.productContent {
  min-height: 400px;
}

.dBlock {
  display: none;
}

.image {
  flex-basis: auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.desc {
  flex-basis: 600px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 0;
}

.linksBlock {
  flex-basis: auto;
}

.link {
  display: block;
  color: var(--primary);
  margin-bottom: 7px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 16px;
  gap: 14px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.price {
  font-style: italic;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: 20px;
}

.callToAction {
  font-size: 24px;
}

.asterisk {
  color: var(--secondary);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;
}

.inputWrapper {
  gap: 18px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 14px;
}

.phoneInput {
  padding: 12px 18px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  font-size: 14px;
  background-color: var(--input-background);
}

.list {
  padding-left: 20px;
}

.listTitle {
  font-weight: 700;
  font-size: 30px;
}

@media (min-width: 576px) {
  .links {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .icons {
    flex-direction: row;
  }

  .iconWrapper {
    flex-basis: 150px;
  }
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
  .title {
    margin-bottom: 12px;
  }

  .image {
    flex-basis: 600px;
  }

  .links {
    margin-top: 12px;
  }

  .icons {
    flex-direction: column;
    justify-content: start;
  }

  .iconWrapper {
    flex-basis: auto;
  }

  .inputWrapper {
    gap: 18px;
  }

  .listTitle {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .buttonGroup {
    overflow-x: auto;
  }

  .content {
    gap: 30px;
  }

  .links {
    flex-direction: row;
  }

  .linksBlock {
    flex-basis: 300px;
  }

  .link:not(:last-child) {
    margin-bottom: 7px;
  }

  .icons {
    justify-content: space-between;
  }

  .iconWrapper {
    flex-basis: 150px;
  }

  .inputWrapper {
    flex-direction: row;
  }
}
