.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  padding: 30px 12px;
  margin-bottom: 20px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list {
  padding-left: 16px;
  margin-top: 16px;
}

.listItem {
  margin-bottom: 6px;
}
