.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container[data-subcategory="angars"] {
  background-image: url("../../../public/images/hero-angar.webp");

  @supports (background-image: url("../../../public/images/hero-angar.avif")) {
    background-image: url("../../../public/images/hero-angar.avif");
  }
}

.container[data-subcategory="technics"] {
  background-image: url("../../../public/images/technics.webp");

  @supports (background-image: url("../../../public/images/technics.avif")) {
    background-image: url("../../../public/images/technics.avif");
  }
}

.container[data-subcategory="spares"] {
  background-image: url("../../../public/images/spare1.webp");

  @supports (background-image: url("../../../public/images/spare1.avif")) {
    background-image: url("../../../public/images/spare1.avif");
  }
}

.container[data-subcategory="angary-beskarkasnye"] {
  background-image: url("../../../public/images/subCategoryCovers/angars/angar-1.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/angars/angar-1.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/angars/angar-1.avif");
  }
}

.container[data-subcategory="karkasnye-angary"] {
  background-image: url("../../../public/images/subCategoryCovers/angars/angar-2.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/angars/angar-2.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/angars/angar-2.avif");
  }
}

.container[data-subcategory="remont-i-rekonstrukcziya"] {
  background-image: url("../../../public/images/subCategoryCovers/angars/angar-3.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/angars/angar-3.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/angars/angar-3.avif");
  }
}

.container[data-subcategory="tentovye-angary"] {
  background-image: url("../../../public/images/subCategoryCovers/angars/angar-4.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/angars/angar-4.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/angars/angar-4.avif");
  }
}

.container[data-subcategory="borony"] {
  background-image: url("../../../public/images/subCategoryCovers/tech/tech-1.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/tech/tech-1.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/tech/tech-1.avif");
  }
}

.container[data-subcategory="modernizirovannyj-uaz"] {
  background-image: url("../../../public/images/subCategoryCovers/tech/tech-2.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/tech/tech-2.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/tech/tech-2.avif");
  }
}

.container[data-subcategory="opryskivateli"] {
  background-image: url("../../../public/images/subCategoryCovers/tech/tech-3.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/tech/tech-3.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/tech/tech-3.avif");
  }
}

.container[data-subcategory="podvoz-zhidkosti"] {
  background-image: url("../../../public/images/subCategoryCovers/tech/tech-4.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/tech/tech-4.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/tech/tech-4.avif");
  }
}

.container[data-subcategory="prochaya-selhoztehnika"] {
  background-image: url("../../../public/images/subCategoryCovers/tech/tech-5.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/tech/tech-5.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/tech/tech-5.avif");
  }
}

.container[data-subcategory="razbrasyvateli-udobrenij"] {
  background-image: url("../../../public/images/subCategoryCovers/tech/tech-6.webp");

  @supports (background-image: url("../../../public/images/subCategoryCovers/tech/tech-6.avif")) {
    background-image: url("../../../public/images/subCategoryCovers/tech/tech-6.avif");
  }
}

.filter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 12px;
}

.content {
  color: #fff;
  max-width: 800px;
}

.title {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.content p {
  font-size: 24px;
  margin: 24px 0;
}

.content ul {
  list-style: none;
  margin-top: 29px;
  margin-bottom: 29px;
}

.content ul li {
  font-size: 24px;
  padding-left: 30px;
  position: relative;
  line-height: 29px;
}

.content ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: var(--primary);
  border-radius: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  margin-bottom: 20px;
}

.label {
  color: #fff;
}

.asterisk {
  color: var(--secondary);
}

.formInputs {
  display: flex;
  gap: 18px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 14px;
}

.phoneInput {
  padding: 12px 18px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  font-size: 14px;
}

@media (max-width: 992px) {
  .wrapper {
    padding: 30px 12px;
  }
}

@media (max-width: 768px) {
  .container {
    background-size: 100% 100%;
  }

  .title {
    font-size: 28px;
    line-height: normal;
    text-align: center;
  }
  .content p {
    font-size: 20px;
    text-align: center;
  }

  .content ul li {
    font-size: 20px;
    padding-left: 20px;
  }

  .formInputs {
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 18px 12px;
  }
  .title {
    font-size: 20px;
    line-height: normal;
    text-align: center;
  }
  .content p {
    font-size: 16px;
    text-align: center;
    margin: 12px 0;
  }

  .content ul {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .content ul li {
    font-size: 16px;
    padding-left: 15px;
    line-height: 20px;
  }
  .content ul li::before {
    top: 7px;
    left: 0;
    width: 10px;
    height: 10px;
  }
  .formInputs {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .buttons {
    flex-direction: column;
    align-items: stretch;
  }
}
