.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 12px;
  margin-bottom: 30px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  flex: 0 1 560px;
}

.columnTitle {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.columnContent {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    justify-content: flex-start;
  }

  .column {
    flex-basis: auto;
    margin-bottom: 20px;
  }

  .columnTitle {
    margin-bottom: 10px;
  }
}
