.wrapper {
  min-width: 278px;
  min-height: 297.5px;
}

.card {
  position: relative;
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  border: 1px solid var(--skeleton-element-gray);
  border-radius: 10px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.title {
  height: 32px;
  width: 70%;
  background: linear-gradient(306deg, #bababa, #dedcdc, #ebebeb);
  background-size: 600% 600%;
  border-radius: 10px;
  animation: AnimationName 2s ease infinite;
}

.price {
  height: 32px;
  width: 50%;
  border-radius: 10px;
  background: linear-gradient(306deg, #bababa, #dedcdc, #ebebeb);
  background-size: 600% 600%;
  animation: AnimationName 2s ease infinite;
}

.image {
  width: 100%;
  height: 178px;
  background: linear-gradient(306deg, #bababa, #dedcdc, #ebebeb);
  background-size: 600% 600%;
  border-radius: 10px 10px 0 0;
  animation: AnimationName 2s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
