:root {
  --primary: #2f7b80;
  --secondary: #e10b20;
  --tertiary: #1faf38;
  --gray: rgba(178, 175, 175, 0.68);

  --link-hover: #e3e3e3;
  --input-background: var(--gray);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
