.callToAction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 41px;
  margin-bottom: 14px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.2px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red {
  background-color: var(--secondary);
}

.green {
  background-color: var(--primary);
}

.text {
  margin-right: 10px;
}

@media (max-width: 1040px) {
  .callToAction {
    font-size: 16px;
    padding: 12px 20px;
  }
}
