.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 12px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.title {
  text-transform: uppercase;
  font-size: 32px;
}

.content {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  position: relative;
  flex: 0 0 280px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  transition: box-shadow 0.2s linear;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.imageContainer {
  max-height: 178px;
}

.price {
  color: var(--secondary);
  padding-bottom: 5px;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 20px 0px;
}

.link {
  position: absolute;
  content: "";
  inset: 0 0 0 0;
  z-index: 1;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0);
}
