.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  padding: 20px 12px;
  margin-bottom: 30px;
}

.title {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 20px;
}

.icon {
  width: 60px;
  height: auto;
  color: var(--primary);
  margin-right: 24px;
}

.textWrapper {
  display: flex;
}

.textTitle {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, minmax(300px, 600px));
    gap: 40px;
  }
}
